<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

   <!-- <import resource="loggers.xml"/>-->

    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="beans"/>

    <context:annotation-config/>


    <util:properties id="clientProps" location="classpath:client.properties"/>
    <util:properties id="dbProps" location="classpath:DB.properties"/>

    <bean id="client" class="beans.Client"
          p:greeting="123"
          c:id="1" c:fullName="Vasya">
        <property name="type" value="#{T(java.lang.Math).PI}"/>
    </bean>

    <bean id="event" class="beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"-->
          <!--p:ignoreResourceNotFound="true">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:client.properties</value>-->
                <!--<value>classpath:DB.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"-->
          <!--p:ignoreResourceNotFound="false">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:DB.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--c:defaultEventLogger-ref="#{T(beans.Event).day ? 'fileEventLogger' : 'consoleEventLogger' }"-->
    <bean id="app" class="App"
          c:client-ref="client"
          c:defaultEventLogger-ref="dBLogger"
          c:loggers-ref="loggersMap">
        <property name="type" value="#{null}"/>
    </bean>


    <util:map id="loggersMap">
        <!--<entry key="ERROR" value-ref="combinedEventLogger"/>-->
        <entry key="INFO" value-ref="dBLogger"/>
    </util:map>

    <util:map id="treeMap" map-class="java.util.TreeMap"/>

    <!--JDBC-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:tcp://localhost/~/test;SCHEMA=TEST_SCHEMA"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean name="dBLogger" class="loggers.DBLogger">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>